/* Estilos para la tabla */
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

/* Estilos para el encabezado */
h4.text-primary {
    font-weight: bold;
}

/* Estilos para los campos de entrada */
.form-control, .form-select {
    margin-bottom: 15px;
}

/* Estilos para el botón de búsqueda */
.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.text_link, 
.text_link:hover, 
.text_link:focus, 
.text_link:active, 
.text_link:visited {
    text-decoration: none !important;
    color: inherit !important; /* Opcional: mantiene el color del texto padre */
    outline: none !important; /* Elimina el borde en focus (accesibilidad) */
}
