/* Estilos para el cuadro de la imagen */
.image-box {
    text-align: center; /* Centra la imagen horizontalmente */
}

.image-box img {
    
    max-width: 70%; /* Asegura que la imagen no se salga del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilos para el texto de bienvenida */
.bienvenida {
    padding: 0px;
}

.bienvenida h1 {
    font-size: 2.5rem; /* Tamaño del título */
    font-weight: bold;
    color: #007bff; /* Color azul */
}

.bienvenida p {
    font-size: 1.2rem;
    color: #555; /* Color de texto gris */
}

/* Estilos para el menú de navegación */
/* Estilos para los íconos del menú */
.nav-item {
    margin: 0 10px; /* Espacio entre opciones */
}

.nav-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white !important; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
}

.nav-item a:hover {
    color: #ffcc00 !important; /* Color al pasar el mouse */
}

.nav-item i {
    margin-bottom: 5px; /* Espacio entre el ícono y el texto */
}